*, *::before, *::after
  box-sizing: border-box

html 
  font-size:  14px
body
	font-family: 'Muli', sans-serif
	font-size: 1rem
	color: $text-color

img 
  max-width: 100%


input
  outline-style: none

h1, h2, h3, h4, strong 
  font-weight: 400


ul
	list-style-type: none
	padding: 0
	margin: 0


.nav 







.logo
	width: 177px // если поставить др картинку, надо чтобы сохранилась размер занимаемого места. Можно не max-width, тк контроль будет на адаптиве в медиазапросах


.logo__img 

.user
	text-decoration: none
	color: inherit

.user__avatar
	border-radius: 50%
	
	height: 40px 
	width: 40px
	object-fit: cover

.user__name
	margin-left: 18px



.section
