.hotel-body
	margin-bottom: 70px
	@media screen and ( max-width: 768px)
		margin-bottom: 60px
	@media screen and ( max-width: 320px)
		padding: 20px 0 0 0
		margin-bottom: 40px
	&__container
		display: flex
		justify-content: space-between
		@media screen and ( max-width: 992px)
			flex-direction: column
		// align-items: center
	&__slider
		border-radius: 8px
		overflow: hidden
		@media screen and ( max-width: 992px)
			margin-bottom: 30px
		@media screen and ( max-width: 576px)
			margin-bottom: 20px
	
	&__slide
		&-1
			background: url('../img/slider/foto-1.jpg') no-repeat center/cover
		&-2
			background: url('../img/slider/foto-2.jpg') no-repeat center/cover
		&-3
			background: url('../img/slider/foto-3.jpg') no-repeat center/cover
		&-4
			background: url('../img/slider/foto-4.jpg') no-repeat center/cover
		&-5
			background: url('../img/slider/foto-5.jpg') no-repeat center/cover
		&-6
			background: url('../img/slider/foto-6.jpg') no-repeat center/cover
		&-7
			background: url('../img/slider/foto-7.jpg') no-repeat center/cover
		&-8
			background: url('../img/slider/foto-8.jpg') no-repeat center/cover
		&-9
			background: url('../img/slider/foto-9.jpg') no-repeat center/cover
		&-10
			background: url('../img/slider/foto-10.jpg') no-repeat center/cover
		&-11
			background: url('../img/slider/foto-11.jpg') no-repeat center/cover
		&-12
			background: url('../img/slider/foto-12.jpg') no-repeat center/cover


	// hotel-body__info
	&__info
		display: flex
		flex-direction: column
		justify-content: space-between
		@media screen and ( max-width: 992px)
			flex-direction: row
		@media screen and ( max-width: 768px)
			flex-direction: column
			min-height: 440px


	// &__booking
	// 	margin-bottom: 


.map
	width: 347px
	height: 213px
	border-radius: 8px
	overflow: hidden
	@media screen and ( max-width: 992px)
		width: 340px
		height: 210px
	@media screen and ( max-width: 768px)
		width: 100%
	


