.other
	
	&__container 
	&__title 
		font-weight: bold
		font-size: 18px
		line-height: 23px

	&__grid 


	&-body
		width: 364px
		padding: 46px 21px 30px 44px 
		background-color: $dark
		color: $light
		border-radius: 0 8px 8px 0
		overflow: hidden

	&-big
		display: flex
		height: 500px
		&__other-title
			margin: 0 0 27px 0
		&__img
			position: relative
			width: 366px
			border-radius: 8px 0 0 8px
			overflow: hidden
			&>img
				width: 100%
		&__flash-offer
			padding: 8px 11px 7px 10px
			max-width: 90px
			min-height: 30px
			font-size: 12px
			line-height: 15px
			// vertical-align: middle
		&__body
			width: 364px
			padding: 46px 21px 30px 44px 
			background-color: $dark
			color: $light
			border-radius: 0 8px 8px 0
			overflow: hidden
		&__rating
			margin: 0 0 5px 0
		&__text
			margin: 0 0 34px 0
			font-size: 14px
			line-height: 160.6%
	//*************************
	&-item
		&__img
			position: relative
			width: 350px
			height: 250px
			border-radius: 8px 8px 0px 0px
			overflow: hidden
			&>img
				width: 100%
		&__other-body
			width: 350px
			border-radius: 0
			padding: 30px 21px 25px 32px
		&__other-title
			margin: 0 0 23px 0



	//*************************

	&__info-room
		display: flex
		flex-direction: column
		margin: 0 0 37px



	&__adress, &__guests, &__room
		margin: 0 0 0 10px


	&__room 

	&__price-wrap
		display: flex
		justify-content: space-between
		align-items: flex-end

	&__price

		&>span
			display: block

	&__old-price
		font-size: 14px
		line-height: 18px
		text-decoration-line: line-through
		margin: 0 0 5px 0
	&__price-sum 
		font-weight: bold
		font-size: 24px
		line-height: 30px


	&__booking
		padding: 11px 27px 10px 26px


.flash-offer
	position: absolute
	left: 0
	top: 26px
	padding: 4px 9px 4px 9px
	max-width: 60px
	min-height: 18px
	font-weight: 600
	font-size: 8px
	line-height: 10px
	border-radius: 0 4px 4px 0
	color: $light
	background-color: $primary
	text-align: center