.reviews
	padding: 40px 0 70px
	background-color: $secondary
	&__container
		max-width: 1074px
	&--swiper
		width: 1074px
	&__swiper
		border: 1px solid red


	&__slide
		width: 731px
		margin: 0 auto


	&__title
		// display: inline-block
		margin: 0 auto 95px
		text-align: center
		font-weight: bold
		font-size: 36px
		line-height: 45px
		text-align: center
		text-transform: uppercase

	&__data
		max-width: 97px
		margin: 0px auto -100px
		z-index: 10


	&__foto
		width: 90px
		height: 90px
		border-radius: 50%
		background-repeat:  no-repeat
		background-position: center
		background-size: cover
		margin-bottom: 9px
		position: relative
		
		// margin-top: -45px
		&>img
			width: 100%
			height: 100%
			opacity: 0
			// background: url('../img/reveiwes/foto-1.jpg') no-repeat center/cover

	&__name 
		display: block
		text-align: center
		margin-bottom: 9px
		font-weight: bold
		font-size: 12px
		line-height: 15px
		color: $primary


	&__stayed 
		display: block
		text-align: center
		font-size: 10px
		line-height: 13px

	&__rating
		width: 48px
		text-align: center
		margin: 0 auto
		&>img
			margin-right: -2px

	&__text 
		max-width: 731px
		font-size: 12px
		line-height: 19px
		margin: 0 auto
		padding: 136px 95px 30px 99px
		background-color: $light
		border-radius: 8px


			


