.reviews
	padding: 40px 0 70px
	background-color: $secondary
	@media screen and ( max-width: 768px)
		padding: 40px 0 60px
	@media screen and ( max-width: 320px)
		padding: 40px 0 50px
	&__container
		max-width: 1074px
		margin: 0 auto
		@media screen and ( max-width: 992px)
			width: 700px
		@media screen and ( max-width: 768px)
			max-width: 700px
			width: 91.1458%

	&--swiper
		// max-width: 1074px


	&__swiper



	&__slide
		width: 731px
		margin: 0 auto


	&__title
		margin: 0 auto 95px
		text-align: center
		font-weight: bold
		font-size: 36px
		line-height: 45px
		text-align: center
		text-transform: uppercase
		@media screen and ( max-width: 768px)
			font-size: 18px
			line-height: 23px

	&__data
		max-width: 97px
		margin: 0px auto -100px
		z-index: 10


	&__foto
		width: 90px
		height: 90px
		border-radius: 50%
		background-repeat:  no-repeat
		background-position: center
		background-size: cover
		margin-bottom: 9px
		position: relative
		&>img
			width: 100%
			height: 100%
			opacity: 0

	&__name 
		display: block
		text-align: center
		margin-bottom: 9px
		font-weight: bold
		font-size: 12px
		line-height: 15px
		color: $primary

	&__stayed 
		display: block
		text-align: center
		font-size: 10px
		line-height: 13px

	&__rating
		width: 48px
		text-align: center
		margin: 0 auto
		&>img
			margin-right: -2px

	&__text 
		max-width: 731px
		font-size: 12px
		line-height: 19px
		margin: 0 auto
		padding: 136px 95px 30px 99px
		background-color: $light
		border-radius: 8px
		@media screen and ( max-width: 992px)
			max-width: 579px
		@media screen and ( max-width: 768px)
			width: 93.387%
			padding: 136px 60px 30px 94px
		@media screen and ( max-width: 576px)
			padding: 136px 33px 30px 29px


